path {
  fill: #AAA;
}

path:hover {
  fill: #000;
}

svg {
  margin-left: 5px;
}

.btn:hover {
  color: white;
}

.btn-third {
  color: #fff;
  background-color: #9f5afd;
  border-color: #9f5afd;
}

.btn-third path {
  fill: white;
}

.card {
  margin-bottom: 20px;
}

.card-footer {
  color: #AAA;
}

.main-header {
  text-align: center;
  margin-top: 200px;
}

.main-header h1 {
  font-weight: bold;
  margin-bottom: 50px;
}

#add-div {
  margin-bottom: 20px;
}

#btn-showCountries {
  margin-top: 5px;
  margin-right: 10px;
}

#countries-body {
  background-image: url("pagesbg.png");
}

#index-body {
  background-image: url("landingbg.jpg");
  color: white;
}
